{% extends 'base.html' %}
{% load staticfiles %}

{% block menu-bar %}
    <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/files">Files</a></li>
            <li><a href="/dwns">Downloads</a></li>
            <li><a href="/uplds">Uploads</a></li>
            <li><a href="{% static "README.pdf" %}">About</a></li>

        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="slider">
        <div class="container" align = "center">
            {#      <div id="about-slider">#}
            {#        <div id="carousel-slider" class="carousel slide" data-ride="carousel" style = "position: center">#}
            {#          <!-- Indicators -->#}
            {#          <ol class="carousel-indicators visible-xs">#}
            {#            <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>#}
            {#            <li data-target="#carousel-slider" data-slide-to="1"></li>#}
            {#            <li data-target="#carousel-slider" data-slide-to="2"></li>#}
            {#          </ol>#}
            {##}
            {#          <div class="carousel-inner">#}
            {#            <div class="item active">#}
            {#              <img src="{%  static '/images/bit/1.jpg'%}" class="img-responsive" alt="">#}
            {#            </div>#}
            {#            <div class="item">#}
            {#              <img src="{%  static '/images/bit/2.jpg'%}" class="img-responsive" alt="">#}
            {#            </div>#}
            {#            <div class="item">#}
            {#              <img src="{%  static '/images/bit/3.jpg'%}" class="img-responsive" alt="">#}
            {#            </div>#}
            {#              <div class="item">#}
            {#              <img src="{%  static '/images/bit/4.jpg'%}" class="img-responsive" alt="">#}
            {#            </div>#}
            {#            <div class="item">#}
            {#              <img src="{%  static '/images/bit/5.jpg'%}" class="img-responsive" alt="">#}
            {#            </div>#}
            {#              <div class="item">#}
            {#              <img src="{%  static '/images/bit/6.jpg'%}" class="img-responsive" alt="">#}
            {#            </div>#}
            {#            <div class="item">#}
            {#              <img src="{%  static '/images/bit/7.jpg'%}" class="img-responsive" alt="">#}
            {#            </div>#}
            {#              <div class="item">#}
            {#              <img src="{%  static '/images/bit/8.jpg'%}" class="img-responsive" alt="">#}
            {#            </div>#}
            {#            <div class="item">#}
            <img src="{% static '/images/bit/9.jpg' %}" class="img-responsive" alt="">
            {#            </div>#}
            {#              <div class="item">#}
            {#              <img src="{%  static '/images/bit/10.jpg'%}" class="img-responsive" alt="">#}
            {#            </div>#}
            {#            <div class="item">#}
            {#              <img src="{%  static '/images/bit/11.jpg'%}" class="img-responsive" alt="">#}
            {#            </div>#}
            {#          </div>#}
            {##}
            {#          <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">#}
            {#						<i class="fa fa-angle-left"></i>#}
            {#					</a>#}
            {##}
            {#          <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">#}
            {#						<i class="fa fa-angle-right"></i>#}
            {#					</a>#}
            {#        </div>#}
            {#        <!--/#carousel-slider-->#}
            {#      </div>#}
            <!--/#about-slider-->
        </div>
    </div>

    <section id="feature">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Welcome to the Swarm</h2>
                <p class="lead">Enjoy the provided features</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-file"></i>
                            <h2>Files</h2>
                            <h3>Discover available files to be downloaded</h3>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-download"></i>
                            <h2>Downloads</h2>
                            <h3>Control the state of your downloads</h3>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-upload"></i>
                            <h2>Uploads</h2>
                            <h3>Share your files and access to them</h3>
                        </div>
                    </div>

                </div>
                <!--/.services-->
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <!--/#feature-->


    {#  <section id="bottom">#}
    {#    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">#}
    {#      <div class="row">#}
    {#        <div class="col-md-3 col-sm-6">#}
    {#          <div class="widget">#}
    {#            <h3>Company</h3>#}
    {#            <ul>#}
    {#              <li><a href="#">About us</a></li>#}
    {#              <li><a href="#">We are hiring</a></li>#}
    {#              <li><a href="#">Meet the team</a></li>#}
    {#              <li><a href="#">Copyright</a></li>#}
    {#            </ul>#}
    {#          </div>#}
    {#        </div>#}
    {#        <!--/.col-md-3-->#}
    {##}
    {#        <div class="col-md-3 col-sm-6">#}
    {#          <div class="widget">#}
    {#            <h3>Support</h3>#}
    {#            <ul>#}
    {#              <li><a href="#">Faq</a></li>#}
    {#              <li><a href="#">Blog</a></li>#}
    {#              <li><a href="#">Forum</a></li>#}
    {#              <li><a href="#">Documentation</a></li>#}
    {#            </ul>#}
    {#          </div>#}
    {#        </div>#}
    {#        <!--/.col-md-3-->#}
    {##}
    {#        <div class="col-md-3 col-sm-6">#}
    {#          <div class="widget">#}
    {#            <h3>Developers</h3>#}
    {#            <ul>#}
    {#              <li><a href="#">Web Development</a></li>#}
    {#              <li><a href="#">SEO Marketing</a></li>#}
    {#              <li><a href="#">Theme</a></li>#}
    {#              <li><a href="#">Development</a></li>#}
    {#            </ul>#}
    {#          </div>#}
    {#        </div>#}
    {#        <!--/.col-md-3-->#}
    {##}
    {#        <div class="col-md-3 col-sm-6">#}
    {#          <div class="widget">#}
    {#            <h3>Our Partners</h3>#}
    {#            <ul>#}
    {#              <li><a href="#">Adipisicing Elit</a></li>#}
    {#              <li><a href="#">Eiusmod</a></li>#}
    {#              <li><a href="#">Tempor</a></li>#}
    {#              <li><a href="#">Veniam</a></li>#}
    {#            </ul>#}
    {#          </div>#}
    {#        </div>#}
    {#        <!--/.col-md-3-->#}
    {#      </div>#}
    {#    </div>#}
    {#  </section>#}
    <!--/#bottom-->

    {#  <div class="top-bar">#}
    {#    <div class="container">#}
    {#      <div class="row">#}
    {#        <div class="col-lg-12">#}
    {#          <div class="social">#}
    {#            <ul class="social-share">#}
    {#              <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#              <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
    {#              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>#}
    {#              <li><a href="#"><i class="fa fa-skype"></i></a></li>#}
    {#            </ul>#}
    {#          </div>#}
    {#        </div>#}
    {#      </div>#}
    {#    </div>#}
    <!--/.container-->
    </div>
    <!--/.top-bar-->
{% endblock %}