{% extends 'base.html' %}

{% block menu-bar %}
    <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/get_address_autom">Search</a></li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class=slider>
    <div class="container" align="center">
        {% if form.errors %}
            <p style="color: red;">Por favor corrige lo siguiente:
            </p>

        {% endif %}
        <form action="" method="post">{% csrf_token %}
            <table >
                <h2>Insert Address</h2>
                <tr>
                    <th><label for="id_ip">Ip:</label></th>
                    <td><input type="text" name="ip" required id="id_ip"></td>
                </tr>
                <tr>
                    <th><label for="id_port">Port:</label></th>
                    <td><input type="number" name="port" required id="id_port"></td>
                </tr>
            </table>
            <h2>Insert DHT Address</h2>
            <table>

                <tr>
                    <th><label for="id_dht_ip">Ip:</label></th>
                    <td><input type="text" name="dht_ip" required id="id_dht_ip"></td>
                </tr>
                <tr>
                    <th><label for="id_dht_port">Port:</label></th>
                    <td><input type="number" name="dht_port" required id="id_dht_port"></td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            {#                <input type="submit" value="Submit">#}
        </form>
    </div>
    </div>
{% endblock %}

