{% extends 'base.html' %}
{% load staticfiles %}

{% block menu-bar %}
    <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/files">Files</a></li>
            <li><a href="/dwns">Downloads</a></li>
            <li class="active"><a href="/uplds">Uploads</a></li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class=slider>

        <div class="container">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-5">
                    <form role="form">
                        <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                    </form>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px ; margin-left: 2px">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p><label for="id_uploaded_file">Select file to upload:</label> <input type="file" name="uploaded_file" required id="id_uploaded_file"></p>
                    <button type="submit">Upload File</button>
                </form>
                {#                <a class="btn btn-primary col"  href="{% url 'upload_file' %}"> Upload File</a>#}
            </div>

        </div>

        <div class="container">
            <div class="accordion">
                <div class="panel-group" id="accordion1">
                    {% for file in  FILES %}

                        <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1"
                                   href="#{{ file|cut:" "|cut:"." }}">
                                    {{ file }}
                                    <i class="fa fa-angle-right pull-right"></i>
                                </a>
                            </h3>
                        </div>

                        <div id="{{ file|cut:" "|cut:"." }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="media accordion-inner">
                                    <div class="pull-left">
                                        <a class="fa fa-eye" href= {% static "/Storage/" %}{{ file }}> Open</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    {% endfor %}
                    </div>
                </div>
            </div>
        <ul class="pagination pagination-lg">
            <li><a href="#"><i class="fa fa-long-arrow-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><i class="fa fa-long-arrow-right"></i></a></li>
        </ul>
        </div>


    </div>
{% endblock %}